.homepage {
  height: 89%;

  text-align: center;
}

.homepage-intorduction {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.homepage-get-started-btn {
  margin-top: 2%;
}
